.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10;
}

.pagination button {
    padding: 10;
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #bbbbbb;
    border-color: #29555E;
}

.pagination button.active {
    font-weight: 900;
    border-color: #29555E;
    background: #70ABAF;
    color: #101010;
}