
.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10;
}

.pagination button {
    padding: 10;
    width: 35.38px;
    height: 40px;
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #D13256 ;
    border-color: #29555E;
}

.pagination button.active {
    font-weight: 900;
    background: linear-gradient(#D13256, #F75845);
    color: white;
}